{% extends "layout.html" %}

{% block css %}
<!-- Custom styles for this template -->
<link href="/css/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <form class="form-signin" role="form" method="post">
        <h2 class="form-signin-heading">Sign up</h2>
        {% if errors.login.empty is defined %}
            <div class="alert alert-warning form-signin-topwarning">Login can not be empty.</div>
        {% endif %}
        {% if errors.login.unique is defined %}
            <div class="alert alert-warning form-signin-topwarning">This login is already taken.</div>
        {% endif %}
        <input name="login" type="text" class="form-control" placeholder="Login" value="{{ login|default('') }}" autofocus required>
        <input name="password" type="password" class="form-control" value="{{ password|default('') }}" placeholder="Password" required>
        {% if errors.password.empty is defined %}
            <div class="alert alert-warning form-signin-bottomwarning">Password can not be empty.</div>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
{% endblock %}